body{
    margin: 0;
    height: 200hv;
    display: flex;
    justify-content: center;
    align-items: center;
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.carta{
     background-color: rgb(44, 44, 134);
     width: 400px;
     padding: 30px;
     border-radius: 15px;
     box-shadow: 0px 15px 40px rgba(red, green, rgb(54, 54, 121), alpha);
     text-align: center;
     transition: transform 0,3s ease;
}




